body {
    margin: 0;
}

p {
    font-family: 'Roboto Slab', serif;
}

h4 {
    font-family: 'Montserrat', sans-serif;
}
.paragrafas:nth-child(even) {
    width: 300px;
    height: 200px;
    text-align: right;
}

.paragrafas:nth-child(odd) {
    width: 300px;
    height: 200px;
    text-align: left;
}
.paragrafas2 {
    width: 300px;
    height: 200px;
    text-align: left;
}

/* h4:nth-child(odd) {
    margin: 0;
    width: 250px;
    text-align: right;
} */

h4:nth-child(even) {
    margin: 0;
    width: 250px;
    text-align: right;
}

.logo {
    margin: 20px;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 5px solid rgb(228, 226, 226);
}

.pirmas {
    background-image: url(1.jpg);
    background-size: contain;
    position: relative;
}

.antras:before {
    position: absolute; 
    border: 1px solid rgb(228, 226, 226); 
    width: 0; 
    height: 140px; 
    display: block; 
    content: ''; 
    left: 50%; 
    z-index: 1; 
    top: -145px; 
    margin: -1px;
}

.antras {
    position: relative;
    background-image: url(2.jpg);
    background-size: contain;
}

.trecias:before {
    position: absolute; 
    border: 1px solid rgb(228, 226, 226); 
    width: 0; 
    height: 140px; 
    display: block; 
    content: ''; 
    left: 50%; 
    z-index: 1; 
    top: -145px; 
    margin: -1px;
}
.trecias {
    position:relative;
    background-image: url(3.jpg);
    background-size: contain;
}

.ketvirtas:before {
    position: absolute; 
    border: 1px solid rgb(228, 226, 226); 
    width: 0; 
    height: 140px; 
    display: block; 
    content: ''; 
    left: 50%; 
    z-index: 1; 
    top: -145px; 
    margin: -1px;
}

.ketvirtas {
    position: relative;
    background-image: url(4.jpg);
    background-size: contain;
}

.penktas::before {
    position: absolute; 
    border: 1px solid rgb(228, 226, 226); 
    width: 0; 
    height: 140px; 
    display: block; 
    content: ''; 
    left: 50%; 
    z-index: 1; 
    top: -145px; 
    margin: -1px;
}
.penktas {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background-color: goldenrod;
    text-align: center;
    color: white;
    font-size: 26px;
}
.eilute:nth-child(odd) {
    display: flex;
    flex-direction: row-reverse;
}

.eilute:nth-child(even) {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.eilute {
    display: flex;
    justify-content: center;
    padding: 50px 0 50px 0;
    flex-direction: column;
    /* align-items: center; */
}

@media (max-width: 600px) {
    .eilute:nth-child(odd) {
        display: flex;
        flex-direction: row;
    }
    
    .eilute:nth-child(even) {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
    }
    .eilute {
        display: flex;
        justify-content: flex-start;
    }
    .paragrafas:nth-child(even) {
        width: 300px;
        height: 200px;
        text-align: left;
    }
}